$white: #fff;
$primary-color: #451500;
$secondary-color: #a76820;
$accent-color: #ad2117;
$background-color: $white;
$text-color--dark: $primary-color;
$text-color--light: $white;
$light-gray: #b4a8a3;
$overlay: #333;

$default-font-family: "Nunito", "Helvetica Neue", "Arial", "sans-serif",
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$header-font-family: "Trade Gothic LT Bold", "Helvetica Neue", "Arial",
	"sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size--fine: 0.75rem;
$font-size--small: 0.9rem;
$font-size--normal: 22px;
$font-size--large: 2rem;
$font-size--extra-large: 3rem;
$font-size--title: 4rem;
