@import "globals";
.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	& > * {
		display: flex;
		align-items: center;
	}

	&__logo-wrapper {
		column-gap: 0.5rem;
	}

	&__logo {
		width: 58px;
	}

	&__sign-in-link {
		display: none;
	}

	&__nav-wrapper {
		display: none;
	}

	&__cta-wrapper {
	}
}
